@model IEnumerable<wepapp.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiNhanHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTKM.MaCTKM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDonHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDonHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDonHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
