@model wepapp.Models.CTKM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CTKM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCTKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCTKM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiCTKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiCTKM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienMuaToiThieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienMuaToiThieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienDuocGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienDuocGiam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCTKM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
